html,body{
height: 100%;
}

body{
margin:0;
padding:0;
background:#6b6969;
font-family:"Ubuntu",Helvetica, Arial;
}

h1{
color: #fff;
font-size: 80px;
margin: 0;
padding-top: 20px;
}

h2{
color: #fff;
font-size: 32px;
margin: 0;
}
